---
name: Feature Day Test Report
about: Capture result of test workload

---

Name of Feature Under Test:

Description of Workload Under Test:
(Please attach sanitized configuration if needed)

Result [Success/Failure]:

Failure Description(if needed):

Describe Environment:
OSes in use for sensuctl, agent and backend:

Using Test Day Docker Images [y/n]:
